<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <targets>
        <!-- لاگ تو فایل -->
        <target name="file" xsi:type="File"
                fileName="logs/log-${shortdate}.txt"
                layout="${longdate} | ${level} | ${message} | ${exception:format=tostring}" />

        <!-- لاگ تو دیتابیس -->
        <target name="database" xsi:type="Database"
                connectionString="Server=.;Database=LogDb;Trusted_Connection=True;"
                commandText="INSERT INTO Logs (Date, Level, Message, Exception) VALUES (@date, @level, @message, @exception)">
            <parameter name="@date" layout="${date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@exception" layout="${exception:format=tostring}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="file" />
        <logger name="*" minlevel="Info" writeTo="database" />
    </rules>
</nlog>